@import "mixin";
/*精灵图*/
/*@mixin toolbar-item($pos,$hover){
  background-position:0 $pos;
  &:hover{
    background-position:0 $hover;

  }
}
$toolbar-size:52px;
.toolbar-item , .toolbar-layer{
  background-image: url("../static/images/toolbar.png");
  background-repeat: no-repeat;
}
.toolbar-main{
  position: fixed;
  right:0;
  bottom:5px;

}
.toolbar-item {
  position: relative;
  display: block;
  width:$toolbar-size;
  height:$toolbar-size;
  margin-top: 1px;
  @include transition(all .5s);
  &:hover{
    .toolbar-layer{
      @include opacity(1);
      @include scale(1);
    }
  }
}
.toolbar-item-weixin{
  @include toolbar-item(-798px,-860px);
  .toolbar-layer{
    height:212px;
    background-position: 0 0;
  }
}

.toolbar-item-feedback{
  @include toolbar-item(-426px,-488px);
}

.toolbar-item-app{
  @include toolbar-item(-550px,-612px);
  .toolbar-layer{
    height:194px;
    background-position: 0 -222px;
  }
}
.toolbar-item-top{
  @include toolbar-item(-674px,-736px);
}
.toolbar-layer{
  position: absolute;
  right:$toolbar-size - 6;
  bottom: -10px;
  width:172px;
  @include opacity(0);
  @include transform-origin(95% 95%);
  @include scale(0.01);
  @include transition(all .5s);
}*/
/*字体图标*/
$toolbar-size:52px;//定义统宽高
.toolbar-main{//定位 position: fixed;
  position: fixed;
  right:0;
  bottom: 5px;
}
.toolbar-item{//每一项
  position: relative;//相对定位
  display: block;//块元素
  width:$toolbar-size;//
  height:$toolbar-size;
  margin-top: 1px;
  &:hover{
    .tooltip-icon{//定位i标签位置52px
      top:-$toolbar-size;
    }
    .tooltip-text{
      top:0;
    }
    .tooltip-layer{
      @include opacity(1);
      @include scale(1);
    }
  }
}
.toolbar-btn{
  position: absolute;
  left: 0;
  top: 0;
  width:$toolbar-size;
  height:$toolbar-size;
  overflow: hidden;
  @include transition(top .5s);

}
.tooltip-icon{
  position: absolute;
  left: 0;
  top: 0;
  width:$toolbar-size;
  height:$toolbar-size;
  background-color: #d0d6d9;
  font-size: 30px;
  color:#ffffff;
  text-align: center;
  line-height:$toolbar-size;
  @include transition(top .5s);
}
.tooltip-text{
  position: absolute;
  left: 0;
  top:$toolbar-size;
  width:$toolbar-size;
  height:$toolbar-size;
  background-color: #98a1a6;
  padding-top: 12px;
  font-size: 12px;
  color:#ffffff;
  text-align: center;
  line-height:1.2;
  @include transition(top .5s);

}
.tooltip-layer{
  position: absolute;
  right:$toolbar-size - 6;
  bottom: -10px;
  width: 172px;
  background-image: url("../static/images/toolbar_img.png");
  background-repeat: no-repeat;
  @include opacity(0);
  @include transform-origin(95% 95%);
  @include scale(0.01);
  @include transition(all .5s);
}
.tooltip-layer-weixin{
  height: 212px;
  background-position: 0 0;
}
.tooltip-layer-app{
  height: 194px;
  background-position: 0 -222px;
}

/*全端介绍动画*/
/*css3旋转 */
@mixin rotate($deg){
  transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
}
.trans-info{
  width: 380px;
  height: 220px;
  @include radialGradient(#20283f, #1a2134, #192033);
  border-radius: 10px;
  position: relative;
}
@mixin box($top,$left,$bgColor){
  position: absolute;
  top:$top;
  left: $left;
  background: $bgColor;
  height: 50px;
  width: 50px;
  color:#ffffff;
  line-height: 50px;
  text-align: center;
  @include rotate(-45deg);
}
@mixin p($top,$left){
  @include rotate(45deg);
  position: absolute;
  top:$top;
  left:$left;
}
.trans-main{
  position: absolute;
  margin: 0 auto;
}
.trans-main h3{
  position: absolute;
  color:#ffffff;
  margin-left: 130px;
}
.trans-main-p-1{
  width:200px;
  height:50px;
  /*background: red;*/
  font-size: 10px;
  position: absolute;
  color:#ffffff;
  top:50px;
  left:120px;
}
.trans-main-p-2{
  width:200px;
  height:50px;
  /*background: red;*/
  font-size: 6px;
  position: absolute;
  color:#ffffff;
  top:70px;
  left:130px;
}
.css-node{
  @include box(30px,30px,#ff5e5f);
}
.css-node p{
  @include p(15px,5px);
}
.css-vue{
  @include box(70px,70px,#ff992b);
}
.css-vue p{
  @include p(10px,10px);
}
.css-html{
  @include box(110px,110px,#bce91a);
}
.css-html p{
  @include p(10px,1px);
}
.css-js{
  @include box(150px,150px,#19c938);
}
.css-js p{
  @include p(12px,-1px);
}
.css-jq{
  @include box(110px,190px,#2edfef);
}
.css-jq p{
  @include p(15px,6px);
}
.css-pt{
  @include box(70px,230px,#5c66ea);
}
.css-pt p{
  @include p(14px,-1px);
}
.css-an{
  @include box(30px,270px,#e154de);
}
.css-an p{
  @include p(10px,5px);
}

/*nav*/
